body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5;
    padding: 20px;
    background-image: url("images/bg.jpg");
    background-size: cover;
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff8a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
    color: #333333;
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

button {
    display: inline-block;
    width: auto;
    padding: 10px;
    margin-top: 10px;
    color: #ffffff;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4500;
}

#loginForm, #registerForm, #appContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#studentsList {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

#recentTransactions {
    margin-top: 20px;
}

#recentTransactions h3 {
    color: #333333;
    text-align: center;
}
